/.idea/shelf/Uncommitted_changes_before_Update_at_11_18_2024_5_36_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_18_2024_5_38_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_21_2024_2_11_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_18_2024_5_36_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_18_2024_5_38_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_21_2024_2_11_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_21_2024_2_27_PM__Changes_.xml
